
.mainCenter {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-top: 45px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-top: 10px;

}

.storyBox {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */

}
.storyCart {
    height: 100%;
    width: 130px;
    margin: 0 5px;
    border-radius: 10px;
    /* background-color: peru; */
    overflow: hidden;
    position: relative;
}
.imgStory {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.addStory {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(142, 142, 29);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.contactStoryName {
    width: fit-content;
    background-color: transparent;
    /* backdrop-filter: blur(15px); */
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 13px;
    font-weight: bolder;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    pointer-events: none;
}